.component {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 2rem ;
}

.navigations {
  width: 25%;
  padding: 2rem;
}

.content {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  font-size: 1.6rem;
}

.component-top {
  display: flex;
  justify-content: space-between;
}

.component-top h3 {
  color: red;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.icons-container, .top-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.top-right {
  width: 45%;
}

.top-right input {
  height: 3.5rem;
  /* width: 40%; */
  font-size: 1.5rem;
  color: #666;
  padding: 1rem;
}