.dashboard_container {
  /* display: grid; */
  display: flex;
  justify-content: space-evenly;
  /* grid-template-columns: 78% 20%; */
  gap: 2rem;
}

.room-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: aliceblue;
  background-color: blue;
  padding: 2rem 1rem;
}

.room-nav span {
  font-size: 1.3rem;
  margin: 1rem 0.7rem;
  display: inline-block;
}
