.dashboard_container {
  /* display: grid; */
  display: flex;
  justify-content: space-evenly;
  /* grid-template-columns: 78% 20%; */
  gap: 2rem;
}

.rooms_container {
  min-width: 18%;
}

.room-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: aliceblue;
  background-color: #1b449e;
  padding: 2rem 1rem;
}

.room-head h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.room-nav {
  display: flex;
  justify-content: space-evenly;
}

.room-nav span {
  font-size: 1.3rem;
  margin: 1rem 0.7rem;
  display: inline-block;
}
