.page_head {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.back_icon {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  opacity: .5;
}

.links .home::after {
 content: '/';
 margin: 0 .5rem;
}
