.sidebar {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 0.5rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.6s all;
}

.sidebar.active {
  width: 8rem;
  padding: 1rem;
  padding: 5rem 0;
  transition: 0.6s all;
}

.side_flex {
  display: flex;
  align-items: center;
}

.side_flex.active {
  justify-content: center;
  transition: 0.6s all;
}

.profil_container {
  padding: 3rem 1rem;
}

.logo_container .title {
  font-size: 3rem;
  padding: 0;
  margin: 0 1rem;
  transition: 0.6s all;
}

.profil_content p {
  margin: 0;
  color: darkgray;
  font-size: 1.2rem;
}

.burger_container {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  z-index: 9999;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
}

ul.active {
  justify-content: center;
  transition: 0.6s all;
}

ul li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0;
  padding: 1rem;
  width: 100%;
}

ul li.active {
  justify-content: center;
  transition: 0.6s all;
}

ul li:hover {
  background-color: #f5f7fb;
  border-radius: 0.6rem;
  transition: 0.6s all;
}

.sidebar a.active ul li {
  background-color: #d1d7de;
  border-radius: 0.6rem;
}

li .icon {
  padding: 0 1rem 0 0;
}

li .label {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b5bfd3;
  border-radius: 5px;
}
