.login_container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  gap: 10px;
  height: 100vh;
  overflow: hidden;
  font-size: 1rem;
}

.login_container img {
  width: 100%;
  height: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  /* background-color: yellow; */
}

.login__form input {
  display: inline;
  margin: 10px 0;
  padding: 0 10px;
  height: 30px;
  width: 100%;
  color: #343434;
  border: 1px solid rgba(53, 51, 51, 0.3);
  border-radius: 6px;
}

.login__form input:focus,
.login__form input:hover {
  outline: solid 1px rgba(0, 0, 255, 0.4);
  border: 1px solid white;
}

.submit_btn {
  background-color: blue;
  color: white;
  height: 30px;
  width: 100%;
  border: 1px solid blue;
  margin: 10px 0;
  border-radius: 6px;
  /* outline: 1px solid #fff; */
  /* display: inline-block; */
}
