
.login_container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  overflow: hidden;
  font-size: 1.6rem;
}

.hero__container {
  width: 100%;
  height: 100%;
  background-image: url('../assets/logIn_picture.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.logo {
  font-size: 3rem;
  padding: 0;
  margin: 0 1rem;
  transition: 0.6s all;
  background-image: linear-gradient(45deg, #2645b7, #e0e4dd);
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  /* margin: 0 auto; */
}

.logo__container p {
  font-weight: 200;
  font-size: 1.3rem;
  width: 70%;
}

.login__form {
  /* margin: auto; */
  width: 80%;
}

.login__form input {
  margin: 10px 0;
  padding: 0 10px;
  height: 30px;
  width: 100%;
  color: #343434;
  border: 1px solid rgba(53, 51, 51, 0.3);
  border-radius: 6px;
  font-size: 1.4rem;
}

.login__form input:focus,
.login__form input:hover {
  outline: solid 1px rgba(0, 0, 255, 0.4);
  border: 1px solid white;
}

.btn {
  background-color: #2645b7;
  color: white;
  width: 100%;
  border: 1px solid #2645b7;
  border-radius: 6px;
  font-size: 1.4rem;
}

.login__footer {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-top: 10rem;
}

.error__message {
  font-size: 1.3rem;
  padding: 0 0.7rem;
  margin: 0;
}
