.login_container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  gap: 10px;
  height: 100vh;
  overflow: hidden;
}

.login_container img {
  width: 100%;
  height: 100%;
}

/* .login_container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  overflow: hidden;
  gap: 20px;
  height: 100vh;
}

.login_container img {
  width: 100%;
  height: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login__form input {
  display: inline-block;
  margin: 10px;
  padding: 0 10px;
  height: 30px;
  font-size: 1rem;
  color: #343434;
  border: 1px solid rgba(53, 51, 51, 0.3);
  border-radius: 6px;
}

.login__form input:focus,
.login__form input:hover {
  outline: solid 1px rgba(0, 0, 255, 0.4);
  border: 1px solid white;
}

button {
  background-color: blue;
  color: white;
  display: inline-block;
} */