.login_container {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  gap: 20px;
}

.login_container img {
  width: 100%;
  max-height: 100vh;
}

.form__container {
  display: flex;
  justify-content: center;
}

.login__form input {
  margin: 10px 0;
  padding: 0 10px;
  height: 35px;
  font-size: 1rem;
  color: #343434;
  border: 1px solid rgba(53, 51, 51, 0.78);
  border-radius: 6px;
}

.login__form input:focus {
  outline: solid 1px rgba(0, 0, 255, 0.7);
  border: none
}
