body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app_container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.navigation_content {
  position: relative;
  /* background-color: red; */
  /* height: 100vh; */
  /* width: 100px; */
  /* z-index: 999999; */
}

.page_content {
  min-height: 100vh;
  flex: 1;
  padding-left: 2rem;
  /* margin-left: calc(8rem + 14rem); */
  background-color: #f5f7fb;
}

.page_content button {
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  min-width: 8rem;
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 1rem;
}

.page_content button:hover {
  opacity: .85;
  outline-color: #1b449e;
}
