body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app_container {
  /* display: flex; */
}

.page_content {
  min-height: 100vh;
  margin-left: calc(8rem + 14rem);

  /* width: 100vw; */
  /* background-color: #f5f7fb; */
  z-index: 1;
}

.page_content button {
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  min-width: 8rem;
  font-size: 1.4rem;
  display: inline-block;
  margin-left: 1rem;
}

.page_content button:hover {
  opacity: .85;
  outline-color: #1b449e;
}
